# Example environment variables for Docker builds
# This file is not used directly, but serves as a template for setting environment variables
# when building Docker images. You can copy this file to .env and modify the values as needed.
PIP_INDEX_URL=https://pypi.org/simple
