# General
IS_STANDALONE=True
# Backend
DISABLE_OCR_FOR_PDF=False
FORCE_OCR_ON_ALL_PDF=False
# Standalone interface
PAGE_ICON=🦙
PAGE_TITLE=OmniRAG
HEADER_TITLE=OmniRAG
AI_CHAT_LOGO=image/datategy_logo.png
HUMAN_CHAT_LOGO=image/aitubo.jpg
HIDE_RAG_PARAMS_CONFIG=False
FORCED_VDB=None
DEFAULT_GPU_MODEL=neuralmagic/Meta-Llama-3.1-8B-Instruct-quantized.w4a16
