# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.pdf
# macOS
.DS_Store

# Output folder
output/

# Test artifacts
.pytest_cache/
htmlcov/
.coverage

# Build artifacts
build/
dist/
*.egg-info/ 