# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
!*.tfvars.example
**/*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
inventories/*/terraform_inventory.yml

# CI artifacts
**/values-ci-images.yaml
**/ci-kubeconfig
**/ci-ingress-class
**/ci-storage-class
**/ci-cluster-name

